.button-nav {
    display: inline-block;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: #000;
    padding: 0.8rem 1rem;
    border: 1px solid #000;
    margin: 1rem 0 0 1rem;
}

.button-nav:hover {
    color: #fff;
    background-color: #000;
    transition: background-color 0.15s ease-in-out;
}
